body {
  background-image: url("banner.jpg");
  background-size: cover;
  min-height: 100vh;
}

h1 {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  margin: 0 auto;
  padding: 25% 0;
  font-size: 3em;
}

.ml2 .letter {
  display: inline-block;
  line-height: 1em;
}
